.grid {
  column-count: 4;
  column-gap: 1em;
  .photo-of-grid {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    img.image {
      width: 236px;
      border-radius: 8px;
    }
    h1 {
      margin: 0;
      font-size: 14px;
      color: #333333;
      text-transform: capitalize;
    }
  }
}
